<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<title>Jeopardy</title>
		{% assets filters="cssmin", output="gen/all.css", "all.css" %}
			<link href="{{ ASSET_URL }}" rel="stylesheet">
		{% endassets %}
	</head>
	<body>

		<h1>Jeopardy</h1>

		{% assets filters="jsmin", output="gen/all.js", "jquery.min.js", "socket.io.min.js", "board.js", "host.js", "player.js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

	</body>
</html>